.greeting {
  font-size: 30pt;
}

.container {
  margin-right: auto; /* 1 */
  margin-left: auto; /* 1 */
  max-width: 960px; /* 2 */
}

.table {
  border: 2px solid grey;
  width: 100%;
}

.tableContainer {
  height: 500px;
  overflow-x: hidden;
  overflow-x: auto;
}

.tr {
  border: 1px solid grey;
  line-height: 2rem;
}
